.contact-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.contact-container {
    display: flex;
    gap: 50px;
}

.contact-form {
    flex: 1;
}

.contact-form h3 {
    font-size: 1em;
    color: #8b5e34;
    font-weight: bold;
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: none;
}

.btn {
    background-color: #8b5e34;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #a66a42;
}

.contact-info {
    flex: 1;
}

.contact-info h4 {
    font-size: 1em;
    color: #8b5e34;
    font-weight: bold;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.info-item .icon {
    background-color: #8b5e34;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.2em;
}

.info-item .details strong {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

.info-item .details p {
    color: #777;
    font-size: 0.9em;
}
