footer {

  left: 0;
  width: 100%; /* Faz com que o footer ocupe toda a largura */
  background-color: #333;
  color: #fff;
  padding: 10px 5px; /* Reduz o espaço interno */
  font-family: 'Montserrat';
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 180px;
}

.footer-links {
  display: flex;
  gap: 60px; /* Reduz o espaçamento entre colunas */
  flex: 1;
  margin-left: 130px;
}

.footer-links .column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-links title {
  margin-bottom: 5px; /* Reduz o espaço abaixo dos títulos */
  font-size: 1rem; /* Diminui o tamanho da fonte */
  color: #fff;
}

.footer-links a {
  color: #757575;
  text-decoration: none;
  margin-bottom: 3px; /* Reduz o espaço entre os links */
  font-size: 0.8rem; /* Diminui o tamanho da fonte dos links */
  transition: color 0.3s ease;
}

.footer-links p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 10px; /* Reduz o espaço entre os links */
}

.footer-links a:hover {
  color: #8b5e34;
}

.footer-social {
  display: flex;
  align-items: right;
  gap: 10px; /* Espaçamento entre os ícones */
  justify-content: right; /* Centraliza os ícones */
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Tamanho do botão para os ícones */
  height: 40px;
  color: white; /* Cor dos ícones */
  font-size: 25px; /* Tamanho dos ícones */
  text-decoration: none !important;  /* Remove sublinhado */
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #8b5e34; /* Cor de fundo ao passar o mouse */
}

footer {
  position: absolute;
  bottom: 0;
}