.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-header .container {
  width: 70%;
  margin: 0 auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #333;
}

.main-header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
}

.main-header nav a:hover {
  color: #8b5e34;
}

@media (max-width: 390px) {
  .main-header .container {
    width: 90%; /* Ajusta a largura em telas menores */
  }
}
