.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-header .container {
  width: 70%;
  margin: 0 auto;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #333;
}

.nav-header-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.main-header nav a {
  color: #757575;
  width: 73px;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.main-header nav a:hover {
  color: #8b5e34;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo img {
  width: 180px;
}

@media (max-width: 390px) {
  .main-header .container {
    width: 90%;
  }
}
