* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;  
}

body {
  line-height: 1.6;
  color: #333;
}

.main-content {
  display: flex;
  margin: 30px auto;
  max-width: 1200px;
}

.filters {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  height: fit-content;
}

.filters h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
  font-weight: 700;
}

.filters label {
  display: block;
  margin-bottom: 8px;
}

.filters input[type="checkbox"],
.filters input[type="radio"] {
  margin-right: 10px;
}

.filters button {
  background: #8b5e34;
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.hotels {
  flex: 3;
}

.hotel-card {
  height: 240px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hotel-card img {
  width: 260px;
  object-fit: cover;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotel-details {
  padding: 15px;
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotel-details .stars{
  color: #F5E31A;
}

.hotel-details h3 {
  font-weight: 700;
}

.hotel-details p {
  font-size: 0.9em;
  color: #555;
  font-weight: 400;
}

.hotel-location {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
}

.hotel-rating { 
  display: flex;
  gap: 10px;
  align-items: center;
}

.hotel-details .rating {
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  padding: 4px 8px; 
  border-radius: 4px;
  background-color: #FFE9DE;
  color: #404040;
  text-align: center;
}

.hotel-price{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.from-price {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.from-price a {
  font-size: 12px;
  font-weight: 400;
  color: #bdbdbd;
  margin-top: 8px;
}

.from-price p{
  color: #6A3217;
  font-weight: 700;
  font-size: 26px;
}

.check-availability {
  text-align: center;
  background: #6A3217;
  color: white;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 390px) {
  .main-content {
    flex-direction: column;
    margin: 20px;
  }

  .filters {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .filters h3 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .filters label {
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .filters button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
  }

  .hotels {
    flex: none;
  }

  .hotel-card {
    flex-direction: column;
    align-items: center;
  }

  .hotel-card img {
    width: 100%;
    height: auto;
  }

  .hotel-details {
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .hotel-details h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  .hotel-details p {
    font-size: 0.8em;
  }

  .check-availability {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}
