* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  overflow-x: hidden;
}
.container{
  margin: 40px 0 60px 0;
}

.container-bottom {
  width: 90%;
  margin: 40px auto;
}

h2 {
  margin: 20px 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}

.card-container {
  display: flex;
  width: 78%;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
  font-weight: 600;
}

.card p {
  color: #8b5e34;
  font-weight: 700;
  font-size: 1.2em;
}

.popular-hotels-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67%;
  margin: auto;
  margin-bottom: 80px;

}

.hotels-carousel {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  width: 1155px;
  margin: 10px;
}

.hotels-carousel-track-wrapper {
  overflow: hidden;
}

.hotels-carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 62px;
  padding: 10px;
}

.hotel-card {
  flex: 0 0 calc(33.3333% - 100px);
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hotel-image {
  width: 335px;
  height: 270px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0 ;
}


.hotel-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
  gap: 5px;
}

.location p{
  font-size: 14px;
  color: #757575;
}

.location i{
  font-size: 14px;
  color: #757575;
}

.hotel-details h3 {
  font-size: 20px;
  color: #333;
}

.hotel-details {
  height: 90px;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 390px) {
  h2 {
    font-size: 2em;
  }
  .container {
    width: 95%;
  }
}
