* {
  margin: 0;
  padding: 0;
}

/********** FONTS **********/
@font-face {
  font-family: Newake;
  src: url(../font/newake/NewakeFont-Demo.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(../font/montserrat/Montserrat-Bold.ttf);
}

/********************/
header {
  background-image: url("../imagens/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header h2 {
  font-size: 64px;
  line-height: 61.95px;
  font-weight: 400;
  font-family: Newake;
}
.home-navbar {
  padding-top: 5vh;
  display: flex;
  align-items: start;
  height: 100%;
}

.home-navbar ul {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.home-navbar ul li a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 400;
  color: #757575;
}

/***********SECTION HOME **********/
.Home-Container {
  background-color: #ffffff;
  height: 100vh;
}

.destination-container {
  display: flex;
}

.popular-destinations-title {
  margin-top: 8vh;
  margin-bottom: 4vh;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  line-height: 60.95px;
  color: #000000;
}

.destination-card {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.destination-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.card-location {
  color: hsl(0, 0%, 90%);
  font-weight: 500;
  font-size: 28px;
  line-height: 34.13px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.swiper {
  width: 100%;
  max-height: 500px; /* Defina a altura máxima desejada */
  overflow: hidden;
}

/* Estilo dos slides */
.swiper-slide {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px; /* Espaçamento entre os slides */
}
/*********** FOOTER HOME  **********/
.Home-Footer {
  background-color: #404040;
  height: 40vh;
}
